.swap-container {
    height: 100%;
    max-width: 420px;
    width: 100%;
    background: var(--background-color-4) none repeat scroll 0% 0%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
    border-radius: 15px;

    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
}

.swap-headings {
    width: 100%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    -moz-box-align: center;
    align-items: center;
    border-radius: 3rem;
    justify-content: space-evenly;
}

.swap-box {
    position: relative;
}
